@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background-color: #330033; */

/* background-color: #03008C;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%2303008C' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23150084' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231e007d' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23240076' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2328006f' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%232a0068' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232c0061' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%232d005b' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%232d0054' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%232d004e' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%232d0048' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%232c0043' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%232a003d' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23290038' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23270032' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2325002d' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23230029' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */
background-color: #0B000B;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='420' height='420' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23252525' stroke-width='2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233A3A3A'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: white;
}

.txt {
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
}

/* .wdth {
  width: 8rem;
} */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    color: #000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }